body {
    background: #fff;
    color: #2f3138;
    font-family: "Open Sans", sans-serif;
}

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/
#intro {
    height: 75vh;
}

#intro:before {
    background: rgba(6, 12, 34, 0.25);
}


/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
#about {
    background: unset;
    background-color: #fff;
    color: #2f3138;

    blockquote {
        max-width: 650px;
        background: #f9f9f9;
        border-left: 10px solid #ccc;
        margin: 1.5em auto 1.5em;
        padding: 1.5em 10px;
        quotes: "\201C" "\201D" "\2018" "\2019";
    }

    blockquote:before {
        color: #ccc;
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
        float: left;
        margin-top: 0.3em;
    }

    blockquote:after {
        color: #ccc;
        content: close-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.1em;
        float: right;
        margin-top: -0.3em;
    }

    blockquote p {
        display: inline;
    }
}

#about:before {
    content: "";
    background: rgba(255, 255, 255, 1);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#about h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #2f3138;
}

#about h3 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #2f3138;
}

#about p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #2f3138;
}

// #about {
//     padding: 30px 0 30px 0;

//     .quote {
//         max-width: 500px;
//         width: 90%;
//         font-size: 1.25em;
//         margin: 0px auto;
//     }

//     .attribution {
//         float: right;
//         font-size: .75em;
//         display: block;
//         margin-top: 15px;
//     }
// }