@import "./styles/theme.scss";

#footer {
    background: #101522;
    padding: 10px 0 10px 0;
    color: $color_17;
    font-size: 14px;
    margin-top: 50px;

    &.visible {
        position: fixed;
        bottom: 0;
        width: 100vw;
    }

    .copyright {
        text-align: center;
    }

    .credits {
        text-align: center;
        font-size: 13px;
        color: $color_18;
    }
}