@import "./styles/theme.scss";

#footer {
    background: #101522;
    padding: 0 0 25px 0;
    color: $color_17;
    font-size: 14px;

    .footer-top {
        background: #040919;
        padding: 60px 0 30px 0;

        .footer-info {
            margin-bottom: 30px;

            h3 {
                font-size: 26px;
                margin: 0 0 20px 0;
                padding: 2px 0 2px 0;
                line-height: 1;
                font-family: $font-family_2;
                font-weight: 700;
                color: $color_5;
            }

            img {
                height: 40px;
                margin-bottom: 10px;
            }

            p {
                font-size: 14px;
                line-height: 24px;
                margin-bottom: 0;
                font-family: $font-family_2;
                color: $color_5;
            }
        }

        .social-links {
            a {
                font-size: 18px;
                display: inline-block;
                background: #222636;
                color: $color_17;
                line-height: 1;
                padding: 8px 0;
                margin-right: 4px;
                border-radius: 50%;
                text-align: center;
                width: 36px;
                height: 36px;
                transition: 0.3s;

                &:hover {
                    background: $color_2;
                    color: $color_5;
                }
            }
        }

        h4 {
            font-size: 14px;
            font-weight: bold;
            color: $color_5;
            text-transform: uppercase;
            position: relative;
            padding-bottom: 12px;
            border-bottom: 2px solid $color_2;
        }

        .footer-links {
            margin-bottom: 30px;

            ul {
                list-style: none;
                padding: 0;
                margin: 0;

                i {
                    padding-right: 5px;
                    color: $color_2;
                    font-size: 18px;
                }

                li {
                    border-bottom: 1px solid #262c44;
                    padding: 10px 0;

                    &:first-child {
                        padding-top: 0;
                    }
                }

                a {
                    color: $color_17;

                    &:hover {
                        color: $color_2;
                    }
                }
            }
        }

        .footer-contact {
            margin-bottom: 30px;

            p {
                line-height: 26px;
            }
        }

        .footer-newsletter {
            margin-bottom: 30px;

            input[type="email"] {
                border: 0;
                padding: 6px 8px;
                width: 65%;
            }

            input[type="submit"] {
                background: $color_2;
                border: 0;
                width: 35%;
                padding: 6px 0;
                text-align: center;
                color: $color_5;
                transition: 0.3s;
                cursor: pointer;

                &:hover {
                    background: #e0072f;
                }
            }
        }
    }

    .copyright {
        text-align: center;
        padding-top: 30px;
    }

    .credits {
        text-align: center;
        font-size: 13px;
        color: $color_18;
    }
}